.aboutus {
  padding: 18px 25px 80px 25px;

  @media (min-width: $vp-768) {
    display: flex;
    gap: 30px;
    padding: 22px 49px 77px 49px;
  }

  @media (min-width: $vp-1024) {
    gap: 100px;
    padding: 75px 100px 65px 100px;
  }

  @media (min-width: $vp-1920) {
    gap: 95px;
    padding: 40px 350px 93px 350px;
  }
}

.aboutus__illustration {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
    height: 320px;
  }
}

.aboutus__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: $color-header-dark;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 10px;
  }
}

.aboutus__text-wrapper {
  p {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: $color-header-dark;
    margin-top: 0;
    margin-bottom: 20px;

    @media (min-width: $vp-768) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }
  }

  span {
    display: none;
    overflow: hidden;
    height: 0;
    transition: height 0.5s;

    @media (min-width: $vp-768) {
      display: block;
      height: auto;
    }
  }

  &--hidden {
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
  }
}

.aboutus__button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.aboutus__button {
  display: block;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  border: 1px solid $color-elements-blue;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-elements-blue;
  padding: 8px 14px 12px 14px;
  width: 160px;
  border-radius: 3px;
  margin-top: -10px;
  background-color: $color-default-white;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $vp-768) {
    width: 180px;
    padding: 14px 12px;
    margin-top: 0;
  }

  @media (min-width: $vp-1024) {
    margin-top: 20px;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-header-dark;
    color: $color-header-dark;
  }

  &:hover,
  &:active {
    outline: none;
    background-color: $color-elements-blue;
    color: $color-text-white;
    border: 1px solid $color-elements-blue;
  }
}

.aboutus__button-text {
  &--collapse {
    display: none;
  }
}
