.checkbox {
  margin-top: 25px;

  @media (min-width: $vp-768) {
    margin: 10px;
  }

  @media (min-width: $vp-1024) {
    margin-top: 15px;
  }
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__text {
  cursor: pointer;
  font-family: "PT Mono", "Arial", sans-serif;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  margin: 0;
}

.checkbox__input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 4px;
  outline: none;
}

.checkbox__mark {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  background-color: $color-background-blue;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__mark {
  background-image: url("../img/sprite/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;
}

.checkbox__input[type="checkbox"]:hover + .checkbox__mark,
.checkbox__input[type="checkbox"]:focus + .checkbox__mark {
  outline: none;
  box-shadow: 0 0 5px 1px $color-default-white;
}

.checkbox__text-hyphenation {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}
