.contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 715px;
  align-items: center;
  gap: 35px;

  @media (min-width: $vp-768) {
    gap: 30px;
  }

  @media (min-width: $vp-1920) {
    gap: 110px;
  }
}

.contacts__link {
  font-family: "PT Mono", "Arial", sans-serif;
  cursor: pointer;
  color: $color-text-white;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 5px 10px 0;
}

.contacts__link-text {
  display: none;

  @media (min-width: $vp-1024) {
    display: block;
    font-family: "PT Mono", "Arial", sans-serif;
  }
}
