.footer {
  background-color: $color-header-dark;
}

.footer__wrapper {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 35px 0 55px 0;

  @media (min-width: $vp-768) {
    padding: 50px 50px 65px 50px;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 55px 100px;
  }

  @media (min-width: $vp-1920) {
    padding: 50px 390px 54px 350px;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    gap: 0;
  }

  @media (min-width: $vp-1024) {
    display: block;
    margin-bottom: 0;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 250px;

  @media (min-width: $vp-768) {
    max-width: 360px;
  }

  @media (min-width: $vp-1024) {
    margin-top: 35px;
    margin-left: 15px;
    max-width: 170px;
  }
}

.footer__social-list-link-icon {
  display: block;
  width: 30px;
  height: 30px;
}

.footer__social-list-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 10px 3px $color-default-white;
    outline: none;
  }
}

.footer__chapters-title-wrapper,
.footer__contacts-title-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  border-top: 1px solid $color-white-transparent;

  @media (min-width: $vp-768) {
    cursor: auto;
    pointer-events: none;
    padding: 0;
    border: none;
  }
}

.footer__contacts {
  border-bottom: 1px solid $color-white-transparent;

  @media (min-width: $vp-768) {
    border: none;
  }
}

.footer__chapters-title,
.footer__contacts-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;

  @media (min-width: $vp-768) {
    border: none;
    margin-bottom: 20px;
  }
}

.footer__accordeon-button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.footer__accordeon-icon {
  &--minus {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.is-active {
  .footer__accordeon-icon {
    &--plus {
      display: none;
    }

    &--minus {
      display: block;
    }
  }
}

.footer__menu-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
    gap: 150px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  @media (min-width: $vp-1024) {
    gap: 40px;
  }

  @media (min-width: $vp-1440) {
    justify-content: space-between;
    min-width: 60%;
    padding-top: 5px;
    gap: 40px;
  }
}

.footer__chapters-list-wrapper {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;

  @media (min-width: $vp-768) {
    overflow: visible;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (min-width: $vp-1440) {
    flex-direction: row;
    gap: 30px;
  }
}

.footer__chapters-list {
  font-family: "PT Mono", "Arial", sans-serif;
  color: $color-white-transparent;
  font-size: 16px;
  line-height: 22px;
  padding: 0 25px;

  &:last-child {
    padding: 0 25px 15px 25px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0;

    &:last-child {
      padding: 0;
    }
  }

  @media (min-width: $vp-1440) {
    row-gap: 10px;
  }
}

.footer__hyphenation {
  &--tablet {
    display: none;

    @media (min-width: $vp-768) {
      display: block;
    }

    @media (min-width: $vp-1024) {
      display: none;
    }
  }
}

.footer__chapters-list-item {
  @media (min-width: $vp-1024) {
    max-width: 220px;
  }
}

.footer__chapters-list-item-link {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: $color-white-transparent;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.footer__contacts-list-wrapper {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;

  @media (min-width: $vp-768) {
    overflow: visible;
    max-height: 100%;
    height: 100%;
  }
}

.footer__contacts-list {
  font-family: "PT Mono", "Arial", sans-serif;
  color: $color-white-transparent;
  font-size: 16px;
  line-height: 22px;
  padding: 0 25px 15px 25px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.footer__contacts-list-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__contacts-list-item-phone {
  color: $color-white-transparent;
  font-size: 16px;
  line-height: 22px;

  &:hover,
  &:focus,
  &:active {
    color: $color-default-white;
  }
}
