.form {
  position: relative;
  background: linear-gradient(90deg, $color-trianle-grey 0%, $color-trianle-grey 50%, $color-background-blue 50%, $color-background-blue 100%);
}

.form__big-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 50px 25px 85px 25px;
  background-color: $color-background-blue;

  @media (min-width: $vp-768) {
    padding: 50px 50px 125px 50px;
  }

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }

  @media (min-width: $vp-1920) {
    max-width: 1920px;
  }

  &::before {
    display: none;

    @media (min-width: $vp-1024) {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 270px solid transparent;
      border-left: 150px solid $color-trianle-grey;
      border-top: 510px solid $color-trianle-grey;
    }

    @media (min-width: $vp-1440) {
      border: 380px solid transparent;
      border-left: 380px solid $color-trianle-grey;
      border-top: 400px solid $color-trianle-grey;
    }

    @media (min-width: $vp-1920) {
      border: 385px solid transparent;
      border-left: 390px solid $color-trianle-grey;
      border-top: 390px solid $color-trianle-grey;
    }
  }
}

.form__decoration {
  display: none;
  position: absolute;
  z-index: 2;
  top: 245px;

  @media (min-width: $vp-1024) {
    display: block;
    left: 100px;
    width: 255px;
    height: 145px;
  }

  @media (min-width: $vp-1440) {
    width: 510px;
    height: 285px;
  }

  @media (min-width: $vp-1920) {
    left: 350px;
  }
}

.form__wrapper {
  position: relative;
}

.form__content-wrapper {
  padding: 0;

  @media (min-width: $vp-1024) {
    padding: 170px 0 0 0;
    max-width: 555px;
  }

  @media (min-width: $vp-1440) {
    padding: 170px 100px 0 0;
    max-width: 650px;
  }

  @media (min-width: $vp-1920) {
    padding: 165px 355px 0 0;
    min-width: 940px;
    max-width: 960px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 15px;
  }
}

.form__text {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
  }
}

.form__fields {
  border: none;
  margin: 0;
  padding: 0;

  input,
  textarea {
    cursor: text;
    font-family: "PT Mono", "Arial", sans-serif;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    background: $color-input-background;
    border: 1px solid $color-input-autofill-background;
    border-radius: 3px;
    color: $color-default-white;
    outline: none;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      color: $color-default-white;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-default-white;
      border-radius: 3px;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $color-default-white;
      box-shadow: 0 0 0 40rem $color-input-autofill-background inset;
    }
  }

  textarea {
    margin-top: 20px;
    height: 184px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 30px;

    @media (min-width: $vp-768) {
      height: 152px;
      margin-bottom: 28px;
    }

    @media (min-width: $vp-1024) {
      height: auto;
      margin-bottom: 10px;
    }
  }
}

.form__fields-firstline {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.form__ending-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    flex-direction: row;
    gap: 75px;
    align-items: center;
  }

  @media (min-width: $vp-1024) {
    gap: 50px;
  }

  @media (min-width: $vp-1440) {
    gap: 40px;
  }
}

.form__button-wrapper {
  order: 1;
}

.form__checkbox__wrapper {
  order: 2;
}

.form__button {
  display: block;
  cursor: pointer;
  user-select: none;
  padding: 15px 25px;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-header-dark;
  color: $color-default-white;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 1px $color-default-white;
    outline: none;
  }

  @media (min-width: $vp-768) {
    width: 265px;
    padding: 15px 25px 10px 25px;
  }

  @media (min-width: $vp-1024) {
    padding: 15px 25px;
  }
}
