.header {
  position: relative;
  z-index: 2;
  background: $header-gradient;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px 20px 25px;

  @media (min-width: $vp-768) {
    padding: 20px 80px 25px 50px;
  }

  @media (min-width: $vp-1920) {
    padding: 35px 410px 45px 350px;
  }
}

.header__callback-button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.header__callback-button {
  display: block;
  color: $color-text-white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 10px 15px;
  border: 1px solid $color-text-white;
  border-radius: 3px;

  &:hover {
    background-color: $color-text-white;
    color: $color-header-dark;
  }
}

.header__callback-button-wrapper {
  display: none;

  @media (min-width: $vp-1920) {
    display: block;
  }
}

.contacts__link-text {
  display: none;

  @media (min-width: $vp-1920) {
    display: block;
  }
}
