.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background: $header-gradient;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px 20px 25px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    padding: 20px 80px 25px 50px;
  }

  @media (min-width: $vp-1024) {
    padding: 30px 100px 35px 100px;
  }

  @media (min-width: $vp-1920) {
    padding: 30px 410px 35px 350px;
    max-width: 1920px;
  }
}

.header__callback-button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.header__callback-button {
  display: block;
  user-select: none;
  color: $color-text-white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid $color-text-white;
  border-radius: 3px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: $color-text-white;
    color: $color-header-dark;
  }
}

.header__callback-button-wrapper {
  display: none;

  @media (min-width: $vp-1024) {
    display: block;
  }
}

.contacts__link-text {
  display: none;

  @media (min-width: $vp-1024) {
    display: block;
  }
}
