.services {
  padding: 50px 25px 85px 25px;
  background-color: $color-header-dark;

  @media (min-width: $vp-768) {
    padding: 56px 50px 75px 50px;
  }

  @media (min-width: $vp-1024) {
    padding: 70px 100px 140px 100px;
  }

  @media (min-width: $vp-1920) {
    padding: 70px 350px 140px 350px;
  }
}

.services__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 35px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 50px;
  }
}

.services__title-text {
  &--mobile {
    display: inline-block;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $vp-768) {
      display: inline-block;
    }
  }
}

.services__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $vp-1024) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $vp-1920) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 85px;
  }
}

.services__item {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  background-size: cover;
  min-height: 250px;
  background-color: $color-background-blue;

  &--1 {
    background-image: url("../img/service-mobile-1.jpg");

    @media (min-width: $vp-768) {
      background-image: url("../img/service-tablet-1.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/service-1.jpg");
    }
  }

  &--2 {
    background-image: url("../img/service-mobile-2.jpg");

    @media (min-width: $vp-768) {
      background-image: url("../img/service-tablet-2.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/service-2.jpg");
    }
  }

  &--3 {
    background-image: url("../img/service-mobile-3.jpg");

    @media (min-width: $vp-768) {
      background-image: url("../img/service-tablet-3.jpg");
    }

    @media (min-width: $vp-1024) {
      background-image: url("../img/service-3.jpg");
    }
  }

  @media (min-width: $vp-768) {
    padding: 40px 45px;
  }

  @media (min-width: $vp-1024) {
    padding: 50px 80px 50px 40px;
    min-height: 650px;
  }
}

.services__item-text {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: $color-default-white;

  @media (min-width: $vp-768) {
    font-size: 20px;
  }
}

.services__hyphenation {
  &--tablet {
    @media (min-width: $vp-1024) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $vp-1024) {
      display: block;
    }
  }
}

.services__item-link-arrow {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: $color-elements-blue;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;
  color: $color-default-white;
  outline: none;

  @media (min-width: $vp-768) {
    width: 60px;
    height: 60px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: $color-default-white;
    color: $color-elements-blue;
    box-shadow: 0 0 0 1px $color-elements-blue;
  }
}

.services__item-link-arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
