.welcome {
  position: relative;
  background-image: url("../../img/welcome-background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-background-blue;

  @media (min-width: $vp-768) {
    background-image: url("../../img/welcome-background-tablet.jpg");
  }

  @media (min-width: $vp-1024) {
    background-image: url("../../img/welcome-background-desktop.jpg");
  }
}

.welcome__wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: -20px;
  padding: 100px 25px 190px 25px;

  @media (min-width: $vp-768) {
    padding: 100px 110px 205px 50px;
  }

  @media (min-width: $vp-1024) {
    padding: 185px 100px 280px 100px;
  }

  @media (min-width: $vp-1920) {
    padding: 200px 425px 242px 475px;
  }
}

.welcome__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $color-text-white;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;

  @media (min-width: $vp-768) {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @media (min-width: $vp-1024) {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 36px;
  }
}

.welcome__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $color-text-white;

  @media (min-width: $vp-768) {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 50px;
  }
}

.welcome__text-hyphenation {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.welcome__consultation-button-wrapper {
  position: relative;
  display: block;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: flex-start;
    padding-left: 45px;
  }

  @media (min-width: $vp-1024) {
    padding-left: 0;
    margin-bottom: 40px;
  }
}

.welcome__consultation-button {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  background-color: $color-elements-blue;
  color: $color-text-white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 12px 25px;
  border-radius: 3px;
  letter-spacing: 0.05em;
  text-align: center;
  box-sizing: border-box;
  outline: none;

  @media (min-width: $vp-768) {
    font-size: 18px;
    line-height: 21px;
    max-width: 410px;
    padding: 15px 25px;
  }

  &:hover {
    outline: none;
    box-shadow: 0 0 0 1px $color-elements-blue;
    background-color: transparent;
    color: $color-elements-blue;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 1px $color-text-white;
    background-color: transparent;
    color: $color-text-white;
  }
}

.welcome__consultation-button-mobile-text {
  display: block;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.welcome__consultation-button-desktop-text {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}
